<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="./socket.io/socket.io.js" ></script>
    <script type="text/javascript">
        socket = io.connect("http://localhost:8080?&index='2'&user='xxx'");
    </script>
</head>
<body>
Hello
</body>
</html>